<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      h1 {
        color: blueviolet;
        background-color: black;
        width: 1000px;
      }
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 200px;
        background-color: rgb(10, 0, 0);
        color: white;
        text-align: center;
      }
      #con {
        text-align: center;
        color: blueviolet;
      }
    </style>
  </head>
  <body>
    <h1>WELCOME TO FOOD BLOGS!</h1>

    <div class="footer">
      <h2 id="con">Contact</h2>
      <h2>Hema R Naidu</h2>
      <h2>7987376438</h2>
      <h2>hema@gmail.com</h2>
    </div>
  </body>
</html>
