<!-- <h1>Angular App</h1> -->

<!-- <app-products></app-products> -->
<!-- <app-products></app-products>

<app-products></app-products>
<app-products></app-products>
<app-products></app-products> -->

<!-- <app-warning-alert></app-warning-alert>
<success-alert></success-alert> -->

<!-- <app-server></app-server> -->

<!-- <app-names></app-names> -->
<!-- <app-clicklogs></app-clicklogs> -->

<!-- <app-products></app-products> -->

<!-- <app-accounts></app-accounts> -->

<div class="container mt-2">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <li
          class="nav-item"
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="foodbloghome">Home</a>
        </li>

        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="foodblogcreate">Create Post</a>
        </li>

        <!-- <li class="nav-item" role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="success">success alert</a>
        </li>

        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="warningalert">warning alert</a>
        </li>

        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="products">products</a>
        </li>

        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="clicklogs">clicklogs</a>
        </li>

        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="obervables">Observable</a>
        </li>

        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="tforms">tforms</a>
        </li>

        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="rforms">Rforms</a>
        </li>
        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="pipes">Pipes</a>
        </li>

        <li class="nav-item" role="presentation" routerLinkActive="active">
          <a class="nav-link" routerLink="blogs">Blogs</a>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
